
# -- qualiter
# -e git+https://git.viessmann.com/scm/dataeng/qualiter.git#egg=qualiter

# -- lily - API framework
-e git+https://msobczak@bitbucket.org/goodai/lily.git#egg=lily

# -- cryptography
itsdangerous==0.24

# -- oauth
requests-oauthlib==1.2.0

# -- http client
requests==2.21.0

# -- for serving requests
gunicorn==19.9.0

# -- async worker for gunicorn
gevent==1.4.0
