
# -- lily assistant
-e git+https://github.com/cosphere-org/lily-assistant.git#egg=lily-assistant

# -- lily - API framework
lily==1.1.26

# -- cryptography
itsdangerous==0.24

# -- http client
requests==2.21.0

# -- for serving requests
gunicorn==19.9.0

# -- async worker for gunicorn
gevent==1.4.0

# -- google based authentication
google-auth==1.6.3

# -- communication with AWS ATHENA
boto3==1.4.4
