{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>

    <!--
      MATERIALIZE
    -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block meta %}
    {% endblock %}
  </head>
  <body>
    {% if is_authenticated %}
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul class="left hide-on-med-and-down">

            <li
              {% if name == 'catalogue' %}
              class="active"
              {% endif %}

            ><a href="/ui/catalogue/">Catalogue</a></li>
            <li
              {% if name == 'downloads' %}
              class="active"
              {% endif %}
            ><a href="/ui/downloader/requests/">Downloads</a></li>
          </ul>

          <ul class="right">
            <li><a class="logout">logout</a></li>
          </ul>
        </div>
      </nav>
      {% endif %}

      <script type="text/javascript">
        $('.logout').on('click', () => {
          Cookies.remove('lakey-auth-token');
          window.location.href = '/ui/accounts/login/';
        });
      </script>
    </div>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
